* {
     margin: 0;
     padding: 0;
     text-decoration: none;
}

body {
     background-image: url("images/bg.jpg");
     background-size: cover;
}

.containter {
     margin-top: 100px;
     text-align: center;
}

p {
     color: white;
     width: 68%;
     padding: 7px 0px;
     float: left;
     font-family: arial;
}

input {
     background-color: rgba(255, 255, 255, 0.363);
     font-family: arial;
     padding: 10px 10px;
     border-radius: 5px;
     border: 2px solid white;
}

.btn {
     width: 74%;
     float: right;
     margin-top: 20px;
}

button {
     background-color: white;
     color: black;
     font-weight: bold;
     font-family: arial;
     padding: 10px 20px;
     border-radius: 5px;
     border: 2px solid whitesmoke;
}

#indicator {
     display: inline;
     margin-left: 25px;
     padding:7px 30px;
     border: 2px solid white;
     border-top: transparent;
     border-right: transparent;
     border-left: transparent;
}